@mixin button-variant($color) {
  background-color: $color;
  color: #fff;
  border: none;

  &:hover,
  &:focus {
    background-color: darken($color, 10%);
  }

  &.button--outline {
    background-color: transparent;
    border: 2px solid $color;
    color: $color;

    &:hover,
    &:focus {
      background-color: $color;
      color: #fff;
    }
  }
}
