$primaryColor: #5A352A;
$secondaryColor: #27213C;
$tertiaryColor: #a33b20;
$quaternaryColor: #A47963;
$quinaryColor: #A6A57A;

$fontFamily: 'Roboto', sans-serif;

$breakpoint-xs:  320px;   //(smartphones muito pequenos)
$breakpoint-sm:  480px;   //(smartphones)
$breakpoint-md:  768px;   //(tablets)
$breakpoint-lg:  992px;   //(desktops pequenos)
$breakpoint-xl:  1200px;  //(desktops médios)
$breakpoint-xxl: 1400px;  //(desktops grandes)
